@font-face {
  font-weight: 400;
  font-family: "PT Sans";

  src: local("PT Sans"), local("PTSans-Regular"),
  url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";

  src: local("PT Sans"), local("PTSans-Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);

  -webkit-clip-path: inset(100%);
}

.hide-text {
  overflow: hidden;

  white-space: nowrap;
  text-indent: 100%;
}

body {
  margin: auto;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

.page-wrapper {
  position: relative;

  min-width: 768px;
  max-width: 1200px;
  margin: auto;
  padding: 0;

  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 #cccccc;
  box-shadow: 0 5px 10px 0 #cccccc;
}

.main-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 56px;
}

.main-nav {
  position: relative;

  padding-top: 14px;

  background-color: #ffffff;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  width: 138px;
  height: 70px;
  margin: auto;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-line-pack: center;
  -ms-flex-wrap: wrap;
}

.menu-item {
  flex-shrink: 0;
  flex-basis: 20%;
  margin: 0;
  padding: 0;

  -ms-flex-negative: 0;
  -ms-flex-preferred-size: 20%;
}

.menu-item:nth-child(4n) {
  margin-right: 6%;
}

.menu-item:nth-child(4n+1) {
  margin-left: 6%;

  text-align: left;
}

.menu-item:nth-child(4n+2) {
  margin-right: 8%;

  text-align: left;
}

.menu-item:nth-child(4n+3),
.menu-item:nth-child(4n+4) {
  text-align: right;
}

.menu-item a {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-item a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.menu-item a:not([href$=".html"]) {
  color: #766357;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 76px;
  padding-bottom: 80px;

  background-color: #abbac5;
  background-image: url("../img/shape.png"),
  url("../img/background.jpg");
  background-repeat: no-repeat,
  no-repeat;
  background-position: 0 bottom,
  0 28%;
  background-size: 100% auto,
  100%;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  text-align: center;

  counter-reset: features;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.features div {
  margin: auto;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 50px;
}

.features h2 {
  width: 486px;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.features p {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.feature {
  flex-basis: 33.33%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 50px;
  padding-right: 5.83%;
  padding-bottom: 54px;
  padding-left: 5.83%;
}

.numbered-feature {
  background-color: #eeeeee;
}

.numbered-feature .feature-title::after {
  content: "– №" counter(features) " –";

  display: block;
  margin: 0;
  padding: 0;
  padding-top: 23px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  counter-increment: features;
}

.pictured-feature {
  position: relative;

  flex-basis: 88.33%;
  box-sizing: content-box;
  overflow: hidden;

  color: #ffffff;

  background-color: #81b3d2;

  -ms-flex-preferred-size: 88.33%;
}

.pictured-feature-right {
  padding-left: 4%;
  padding-right: 70.83%;
}

.pictured-feature-left {
  padding-left: 70.83%;
  padding-right: 4%;
}

.pictured-feature img {
  position: absolute;
  top: 50%;

  width: 66.67%;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  -o-object-fit: cover;
  object-fit: cover;
}

.pictured-feature-right img {
  right: 0;
}

.pictured-feature-left img {
  left: 0;
}

.iconed-feature {
  position: relative;

  padding-top: 163px;
  padding-left: 4%;
  padding-bottom: 79px;
  padding-right: 4%;
}

.iconed-feature::before {
  position: absolute;

  display: block;
  width: 74px;
  height: 76px;
}

.motel-feature::before {
  content: url(../img/icon-1.svg);
  top: 18.5%;
  right: 0;
  left: 0;

  margin: 0 auto;
}

.burger-feature::before {
  content: url(../img/icon-2.svg);
  top: 18.5%;
  right: 0;
  left: 0;

  margin: 0 auto;
}

.souvenir-feature::before {
  content: url(../img/icon-3.svg);
  top: 17%;
  right: 0;
  left: 0;

  margin: 0 auto;
}

.feature-title {
  display: inline-block;
  width: 150px;
  margin-bottom: 18px;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
}

.iconed-feature .feature-title {
  margin-bottom: 20px;
}

.feature .feature-description {
  line-height: 24px;
  color: #333333;
}

.pictured-feature .feature-description {
  color: #ffffff;
}

.booking {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 52px;
  padding-bottom: 134px;

  text-align: center;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
  -ms-flex-flow: column;
}

.booking h1 + p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.booking p {
  width: 483px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-wrap;
}

.find-hotel {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;

  display: block;
  width: 290px;
  padding: 30px 139px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  white-space: nowrap;

  background-color: #766357;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.find-hotel:hover {
  background-color: #604e43;
}

.find-hotel:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.find-hotel:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.no-js .form-field {
  position: absolute;
  top: 100%;
  z-index: 1;

  display: block;
  width: 458px;
  height: 285px;
  margin: auto;
  padding: 55px;

  background-color: #ffffff;
}

.form-field {
  position: absolute;
  top: 100%;
  z-index: 1;

  display: none;
  width: 458px;
  height: 285px;
  margin: auto;
  padding: 55px;

  background-color: #ffffff;
}

@keyframes open {
  from {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

.form-field-show {
  display: block;

  -webkit-animation-name: open;
  animation-name: open;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@keyframes error {
  0%,
  10%,
  30%,
  50%,
  70%,
  90% {
    outline: 4px solid #d2819b;
  }

  20%,
  40%,
  60%,
  80%,
  100% {
    outline: 0;
  }
}

.form-field-error {
  -webkit-animation-name: error;
  animation-name: error;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.form-field p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.form-field p:last-of-type {
  margin-bottom: 53px;
}

.form-field-label {
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;

  cursor: pointer;
}

.form-field-label[for="date-in"] {
  padding-right: 23px;
}

.form-field-label[for="date-out"] {
  padding-right: 20px;
}

.form-field-label[for="adults"] {
  padding-right: 41px;
}

.form-field-label[for="children"] {
  padding-right: 27px;
  padding-left: 53px;
}


.form-field-input {
  width: 284px;
  margin: 0;
  padding: 6px 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 0;
}

.form-field-input[name="adults"],
.form-field-input[name="children"] {
  width: 38px;
  height: 38px;
  padding: 0;

  text-align: center;
}

.form-field-input:hover {
  background-color: #ebebeb;
}

.form-field-input:focus {
  background-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: inset 2px 2px 0 0 #e5e5e5,
  inset -2px -2px 0 0 #e5e5e5;
  box-shadow: inset 2px 2px 0 0 #e5e5e5,
  inset -2px -2px 0 0 #e5e5e5;
}

.calendar-button {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  background: #f2f2f2 url("../img/calendar.svg") no-repeat center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.calendar-button:hover {
  background: #f2f2f2 url("../img/calendar-hover.svg") no-repeat center;
}

.calendar-button:active {
  background: #f2f2f2 url("../img/calendar-active.svg") no-repeat center;
}

.calendar-button:focus {
  background: #f2f2f2 url("../img/calendar-active.svg") no-repeat center;
}

.adjust-button {
  width: 38px;
  height: 38px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.adjust-button:hover {
  color: #000000;
}

.adjust-button:active {
  color: #81b3d2;
}

.adjust-button:focus {
  color: #81b3d2;
}

.form-field-button {
  width: 458px;
  height: 58px;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.form-field-button:hover {
  background-color: #669ec0;
}

.form-field-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.form-field-button:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  position: relative;

  width: 100%;
  height: 592px;
  overflow: hidden;
}

.no-js .map-interactive {
  display: none;
}

.map-interactive {
  height: 592px;
}

.map img {
  position: absolute;

  height: 592px;

  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: -40px -150px;
  object-position: -40px -150px;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;

  background-color: rgba(249, 251, 246, 0.9);

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.main-footer section {
  flex-basis: 33%;

  -ms-flex-preferred-size: 33%;
}

.visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding-left: 2px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  padding-left: 3px;

  list-style: none;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.social a {
  flex-shrink: 1;
  width: 46px;
  height: 48px;
  margin-right: 5px;

  background-color: #81b3d2;

  -ms-flex-negative: 1;
}

.social a:last-child {
  margin-right: 0;
}

.social a:hover {
  background-color: #669ec0;
}

.social a:active {
  background-color: #5496bd;
}

.social a:focus {
  background-color: #5496bd;
}

.social-tw {
  background: url("../img/tw-icon.svg") no-repeat center;
}

.social-fb {
  background: url("../img/fb-icon.svg") no-repeat center;
}

.social-yt {
  background: url("../img/yt-icon.svg") no-repeat center;
}

.social-tw:active {
  background: url("../img/tw-icon-active.svg") no-repeat center;
}

.social-fb:active {
  background: url("../img/fb-icon-active.svg") no-repeat center;
}

.social-yt:active {
  background: url("../img/yt-icon-active.svg") no-repeat center;
}

.social-tw:focus {
  background: url("../img/tw-icon-active.svg") no-repeat center;
}

.social-fb:focus {
  background: url("../img/fb-icon-active.svg") no-repeat center;
}

.social-yt:focus {
  background: url("../img/yt-icon-active.svg") no-repeat center;
}

.academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-left: 6px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.academy-link {
  display: inline-block;
  margin-right: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.academy-logo {
  display: inline-block;
  width: 115px;
  height: 40px;

  background: url("../img/academy-logo.svg") no-repeat center;
}

.academy-logo:hover {
  background: url("../img/academy-logo-hover.svg") no-repeat center;
}

.academy-logo:active {
  background: url("../img/academy-logo-active.svg") no-repeat center;
}

.academy-logo:focus {
  background: url("../img/academy-logo-active.svg") no-repeat center;
}

.booking-inner {
  position: relative;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 165px;
  padding-top: 28px;
  padding-right: 6%;
  padding-bottom: 7px;
  padding-left: 6%;
  overflow: hidden;

  background: url("../img/background-filter.jpg") no-repeat center;
  background-size: cover;
}

.form-field-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.form-field-set-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 50%;
  margin: 0;
  margin-right: 20%;
  padding: 0;

  -ms-flex-preferred-size: 50%;
}

.form-field-set {
  margin: 0;
  padding: 0;

  border: 0;
}

.form-field-set:first-of-type {
  margin-right: 23%;
}

.form-field-set legend {
  margin-bottom: 9px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.form-field-set label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  cursor: pointer;
}

.form-field-set .checkbox {
  display: none;
}

.form-field-set .checkbox-label {
  position: relative;

  display: inline-block;
  margin-bottom: 11px;
  padding-left: 40px;

  vertical-align: middle;
}

.form-field-set .checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 27px;
  height: 27px;

  background: url("../img/checkbox-off.svg") no-repeat;
}

.checkbox:checked + .checkbox-label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.checkbox:disabled + .checkbox-label::before {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.checkbox:checked:disabled + .checkbox-label::before {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.form-field-filter {
  flex-basis: 30%;
  margin: 0;
  padding: 0;

  border: 0;

  -ms-flex-preferred-size: 30%;
}

.filter-title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  padding-left: 2px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.price-controls {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99%;
  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.price-controls p:first-child {
  padding-left: 20.6%;
}

.price-controls p:nth-child(2) {
  padding-left: 14.4%;
}

.filter-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.price-controls input {
  width: 75%;
  margin: 0;
  padding-left: 2px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;

  background-color: transparent;
  border: 0;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  top: -10px;

  width: 5px;
  height: 5px;

  border-width: 9px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.form-field-filter button {
  display: block;
  margin-left: 26.7%;
  padding: 5px 33px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.form-field-filter button:hover {
  color: #000000;

  background-color: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-height: 87px;
  padding-right: 6%;
  padding-left: 6%;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.sorting-criteria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 528px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-criteria li {
  margin-right: 6%;
  padding-top: 32px;
}

.sorting-criteria li:first-child {
  margin-right: 9%;
  padding-top: 31px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting-criteria li:nth-child(2) {
  margin-right: 8%;
  padding-top: 36px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.sorting-criteria li:last-child {
  margin-right: 0;
}

.sorting-criterion {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.price-criterion {
  color: #81b3d2;

  border: 0;
}

.sorting-criterion:hover {
  color: #81b3d2;
}

.price-criterion:hover {
  color: #81b3d2;

  border: 0;
}

.sorting-criterion:active {
  color: #000000;

  border: 0;
}

.sorting-criterion:focus {
  color: #000000;

  border: 0;
}

.price-criterion:active {
  color: #81b3d2;

  border: 0;
}

.price-criterion:focus {
  color: #81b3d2;

  border: 0;
}

.sorting-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  padding-top: 39px;

  -webkit-box-pack: end;
  -ms-flex-negative: 1;
  -ms-flex-pack: end;
}

.arrow {
  width: 11px;
  height: 11px;
}

.arrow-up {
  margin-right: 12px;

  background: url("../img/arrow-up.svg") no-repeat;
}

.arrow-up:hover {
  background: url("../img/arrow-up-hover.svg") no-repeat;
}

.arrow-up:active {
  background: url("../img/arrow-up-active.svg") no-repeat;
}

.arrow-up:focus {
  background: url("../img/arrow-up-active.svg") no-repeat;
}

.arrow-down {
  background: url("../img/arrow-down.svg") no-repeat;
}

.arrow-down:hover {
  background: url("../img/arrow-down-hover.svg") no-repeat;
}

.arrow-down:active {
  background: url("../img/arrow-down-active.svg") no-repeat;
}

.arrow-down:focus {
  background: url("../img/arrow-down-active.svg") no-repeat;
}

.arrow:not([href="#"]) {
  background: url("../img/arrow-down-active.svg") no-repeat;
}

.sorting-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-right: 6%;
  padding-bottom: 30px;
  padding-left: 6%;

  border-top: 1px solid #e5e5e5;
}

.sorting-hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.sorting-hotel img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 135px;
  margin-right: 30px;

  -webkit-box-flex: 0;
  -ms-flex-negative: 0;
  -ms-flex-positive: 0;
  -ms-flex-preferred-size: 135px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;

  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -ms-flex-negative: 1;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: auto;
  -ms-flex-wrap: wrap;
}

.hotel-info h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}

.hotel-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-bottom: 15px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.hotel-type span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.hotel-details {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-details:hover {
  background-color: #669ec0;
}

.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-details:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-get {
  display: inline-block;
  padding: 3px 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  color: #ffffff;

  background-color: #766357;
}

.hotel-get:hover {
  background-color: #604e43;
}

.hotel-get:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-get:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 90px;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-align: end;
  -ms-flex-pack: justify;
}

.stars {
  background: url("../img/star.svg") space;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 40px;
}

.stars-3 {
  width: 64px;
}

.stars-4 {
  width: 88px;
}

.stars-5 {
  width: 106px;
}

.hotel-score {
  padding: 5px 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.inner-footer {
  position: static;

  background-color: #fefefe;
}
