@font-face {
  font-family: "PT Sans";
  src:
      local("PT Sans"),
      url("../fonts/web/ptsans.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.page-wrapper {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
}

.main-header {
  width: 100%;
  height: 56px;
}

.main-nav {
  position: relative;
  background-color: #ffffff;
}

.logo {
  position: absolute;
  left: 531px;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  padding-left: 6%;
  padding-right: 6%;
  list-style: none;
}

.menu-item {
  width: 20%;
}

.menu-item:nth-child(4n+1),
.menu-item:nth-child(4n+2) {
  text-align: left;
}

.menu-item:nth-child(4n+3),
.menu-item:nth-child(4n+4) {
  text-align: right;
}

.menu-item a {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.photo {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}

.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.feature {
  margin: 0;
}

.numbered-feature {
  width: 33%;
  height: 256px;
  background-color: #eeeeee;
}

.pictured-feature {
  display: flex;
  width: 100%;
  background-color: #81b3d2;
}

.pictured-feature .feature-title,
.pictured-feature .feature-description,
.pictured-feature .feature-number {
  color: #ffffff;
}

.pictured-feature img {
  width: 66%;
  height: inherit;
}

.feature-wrapper {
  display: flex;
  width: 100%;
}

.iconed-feature {
  width: 33%;
  height: 330px;
  margin: 0;
  vertical-align: middle;
}

.feature-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.feature-description {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.feature-number {
  font-size: 14px;
  line-height: 21px;
}

.booking {
  width: 100%;
}

.find-hotel {
  display: inline-block;
  padding: 30px 135px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #766357;
}

.find-hotel:hover {
  background-color: #604e43;
}

.find-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-field {
  width: 568px;
  height: 395px;
}

.form-field-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.form-field-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
}

.form-field-input:hover {
  background-color: #ebebeb;
}

.form-field-input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.adjust-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: 0;
}

.adjust-button:hover {
  color: #000000;
}

.adjust-button:active {
  color: #81b3d2;
}

.form-field-button {
  padding: 15px 190px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: 0;
}

.form-field-button:hover {
  background-color: #669ec0;
}

.form-field-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  width: 100%;
}

.map img {
  width: 100%;
  height: 594px;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 120px;
  background-color: rgba(249, 251, 246, 0.9);
}

.visit {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  list-style: none;
}

.social a {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social a:last-child {
  margin-right: 0;
}

.social a:hover {
  background-color: #669ec0;
}

.social a:active {
  background-color: #5496bd;
}

.social-tw {
  background: url("../img/tw-icon.svg") no-repeat 50% 50%;
}

.social-fb {
  background: url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.social-yt {
  background: url("../img/yt-icon.svg") no-repeat 50% 50%;
}

.academy-link {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  vertical-align: middle;
}

.academy-logo {
  display: inline-block;
  width: 115px;
  height: 41px;
  background: url("../img/academy-logo.svg") no-repeat 50% 50%;
}

.inner {
  padding-bottom: 120px;
}

.booking-inner {
  background: url(../img/background.jpg) no-repeat;
}

.form-field-inner {
  display: flex;
}

.form-field-set {
  border: 0;
}

.form-field-set legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.form-field-set label {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.form-field-set input[type="text"] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.form-field-set button {
  padding: 5px 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.form-field-set button:hover {
  color: #000000;
  background-color: #ffffff;
}

.results h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.sorting-data span {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sorting-filter {
  list-style: none;
}

.sorting-criteria {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorting-criteria:hover {
  color: #81b3d2;
}

.sorting-criteria:active {
  color: #000000;
  border: 0;
}

.sorting-images span {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333
}

.sorting-name a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.sorting-name a:hover {
  color: #81b3d2;
}

.sorting-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-details {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.sorting-details:hover {
  background-color: #669ec0;
}

.sorting-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.sorting-get {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
}

.sorting-get:hover {
  background-color: #604e43;
}

.sorting-get:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.inner-footer {
  background-color: #fefefe;
}
